{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- product section start -->
  <div class="product_section layout_padding">
    <div class="container">
      <div class="product_text">Our <span style="color: #5ca0e9;">products</span></div>
      <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem</p>
      <div class="product_section_2">
        <div class="row">
          {% for i in products %}
           <div class="col-md-6">
            <a href="product/{{i.id}}"> <div class="image_2"> <img width="450" src="{{ i.image.url }}"></div></a>
            <div class="price_text">Price $ <span style="color: #3a3a38;">{{ i.price }}</span></div>
            <h1 class="game_text">{{ i.title }}</h1>
            <p class="long_text">{{ i.description|truncatechars:150 }}</p>
          </div>
          {% endfor %}

        </div>
      </div>

    </div>
  </div>
  <!-- product section end -->
  <!-- footer section start -->
  {%  endblock %}